<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/professors" routerLinkActive="active" ariaCurrentWhenActive="page">Professors</a>
      <a mat-list-item routerLink="/classrooms" routerLinkActive="active" ariaCurrentWhenActive="page">Classrooms</a>
      <a mat-list-item routerLink="/lectures" routerLinkActive="active" ariaCurrentWhenActive="page">Lectures</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <button mat-flat-button style="margin-left: auto" color="primary" (click)="generateSchedule()">Generate
        Schedule</button>
    </mat-toolbar>
    <div style="padding: 20px">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="isShowing" class="schedule">
  <div class="content">
    {{this.schedule}}
    <button mat-flat-button color="primary" (click)="setShowing(false)">Dismiss</button>
  </div>

</div>
