<mat-card>
  <mat-card-content>
    <div style="display:flex;align-items:center;justify-content:space-between;">
      <span style="display:flex;align-items:center;justify-content:space-between;min-width:20ch;">
        <h2>Mo</h2>
        <ng-container *ngIf="!isEditing">
          <h2>{{formatSlotTime(slot.from)}}</h2>
          -
          <h2>{{formatSlotTime(slot.to)}}</h2>
        </ng-container>
        <ng-container *ngIf="isEditing">
          <mat-form-field>
            <mat-label>From</mat-label>
            <input matInput type="time" min="09:00" max="19:00" [(ngModel)]="formattedFrom" />
          </mat-form-field>
          -
          <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput type="time" min="09:00" max="19:00" [(ngModel)]="formattedTo" />
          </mat-form-field>
        </ng-container>
      </span>
      <mat-card-actions style="padding: 0;">
        <button mat-icon-button style="color:lightgreen;" (click)="isEditing ? handleSave() : startEditing()">
          <mat-icon *ngIf="!isEditing">edit</mat-icon>
          <mat-icon *ngIf="isEditing">save</mat-icon>
        </button>
        <button mat-icon-button style="color:darkred" (click)="handleRemove()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
